:root {
  margin-top: 4rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

/* for elements to display side-by-side */
.pair-container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
}

.pair-container>* {
  flex: 1;
}

/* adjustments for mobile */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  /* pairs are stacked on mobile */
  .pair-container {
    flex-direction: column;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}


/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.added-item {
  animation: fadeIn 0.4s ease-out;
}
